<html>

  <head>
    <title>Algebra Nation | Topic Metrics</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <script>
        function getState(that) {
          var obj = document.getElementById("stateId");
          document.getElementById("state").innerHTML = 
          obj.options[obj.selectedIndex].text;
        }
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>

  <body ng-app="directoryApp">
 
    <div class="container-fluid">

        <!--NAVBAR-->
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;"">
            <span class="sr-only">Toggle Navigation</span>
            <!--NAVBAR BRAND-->
            <a class="navbar-brand" href="/index.html">
                    <img src="/images/twitter_icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    <b>Twitter Data</b>
            </a>
            <!--NAVBAR TOGGLE BUTTON-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                
            <div class="navbar-header">
                <h1>Topic Metrics</h1>
            </div>

            <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search Topic..." aria-label="Search" ng-model="query">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                </form>

            </nav>
        </div>


        <!--BREADCRUMBS-->
        <div class ="row">
                <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="/index.html">Dashboard</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Topic Metrics</li>
                        </ol>
                </nav>
        </div>

        <!--QUERY-->
    
        
        <div> 

            <h1 style="display:inline" id="searchQuery"></h1> <p style="display:inline"></p><i> in {{location.city}} , {{location.state}} </i> </p>
        </div>

    
      <!--SITE BODY-->
      <div class="row">
          
          <div class="col">

              <!--POPULAR USERS-->
                <h2>Popular Users</h2>
                <div ng-controller="UserController">
                        <table class="table table-striped table-hover anyClass">

                                <tr ng-repeat="user in users" ng-click="goToUserMetrics($index)">
                                        <div class="twPc-div">
                                                <a class="twPc-bg twPc-block"></a>
                                            
                                                <div>
                                            
                                                <a title="Mert S. Kaplan" href="https://twitter.com/mertskaplan" class="twPc-avatarLink">
                                                    <img alt="Mert S. Kaplan" src="https://mertskaplan.com/wp-content/plugins/msk-twprofilecard/img/mertskaplan.jpg" class="twPc-avatarImg">
                                                </a>
                                            
                                                <div class="twPc-divUser">
                                                    <div class="twPc-divName">
                                                    <a href="https://twitter.com/mertskaplan">{{user.name}}</a>
                                                    </div>
                                                    <span>
                                                    <a href="https://twitter.com/mertskaplan">@<span>mertskaplan</span></a>
                                                    </span>
                                                </div>
                                            
                                                <div class="twPc-divStats">
                                                    <ul class="twPc-Arrange">
                                                    <li class="twPc-ArrangeSizeFit">
                                                        <span class="twPc-StatLabel twPc-block">Tweets</span>
                                                        <span class="twPc-StatValue">{{user.statuses_count}}</span>
                                                        </a>
                                                    </li>
                                                    <li class="twPc-ArrangeSizeFit">
                                                        <span class="twPc-StatLabel twPc-block">Following</span>
                                                        <span class="twPc-StatValue">{{user.friends_count}}</span>
                                                        </a>
                                                    </li>
                                                    <li class="twPc-ArrangeSizeFit">
                                                        <span class="twPc-StatLabel twPc-block">Followers</span>
                                                        <span class="twPc-StatValue">{{user.followers_count}}</span>
                                                        </a>
                                                    </li>
                                                    </ul>
                                                </div>
                                                </div>
                                            </div>
                                </tr>
                        </table>
                </div>
          </div>


          <!--CENTER SECTION-->
          <div class="col">

            <!--POPULAR TWEETS-->
            <h2>Popular Tweets</h2>
            
            <div class = "topic-list" ng-controller="TweetController">

                    <table class="table table-striped table-hover anyClass">
                            <tr ng-repeat="status in statuses" ng-click="updateGraph($index)">
                                    <!-- Add: {{status.user.profile_image_url}} for user profile image
                                        Clicking profile image should redirect to User Metrics page and
                                        send the user JSON data from the status JSON response-->
                                    <a href="/usermetrics.html" >
                                        <img src="/images/bugs.jpeg" width = 15% height = 12% class="mr-3" alt="" ng-click="sendUserData(status.user)">
                                    </a>

                                    <div class="media-body">
                                      <h5 class="mt-0 mb-1" >{{status.user.name}}</h5>
                                      <p>{{status.text}}</p>
                                      <button type="button" class="btn btn-primary">
                                              Likes <span class="badge badge-light">{{status.favorite_count}}</span>
                                      </button>
                                      <button type="button" class="btn btn-primary">
                                              Retweets <span class="badge badge-light">{{status.retweet_count}}</span>
                                      </button>
                                    </div>
                            </tr>
                    </table>

            </div>  
             
          </div>

          <div class="w-100"></div>

          <!--RIGHT SECTION-->
          
            <!--POPULAR TWEETS BAR GRAPH-->
            <div class="col">
                    <h2>Top Users</h2>
                    <div id="barchart">
                    </div>
                    <script>
                        google.charts.load('current', {packages: ['corechart', 'bar']});
                        google.charts.setOnLoadCallback(drawBasic);

                        function drawBasic() {

                            var data = new google.visualization.DataTable();
                            data.addColumn('string', 'User Name');
                            data.addColumn('number', 'Followers');

                            data.addRows([
                                ['Barack Obama', 7070],
                                ['Hilary Clinton', 2907],
                                ['Hussein Bolt', 3025],
                                ['Muhammad Ali', 4000],
                                ['Hugh Jackman', 5725]
                            ]);

                            var options = {
                                title: 'Users with Largest Audience',
                                width: '400',
                                height: '400',
                                hAxis: {
                                    title: 'User',
                                    format: 'h:mm a',
                                    viewWindow: {
                                        min: [7, 30, 0],
                                        max: [17, 30, 0]
                                    }
                                } ,

                                vAxis: {
                                    title: 'Followers'
                                }
                            };

                            var chart = new google.visualization.ColumnChart(
                                document.getElementById('barchart'));

                            chart.draw(data, options);
                            }
                    </script>
            </div>

            <!--TWITTER ACTIVITY LINE GRAPH-->
            <div class="col">
                <h2>Tweet Frequency</h2>
                
                <div id="linechart_div">
                </div>
                <script>
                    google.charts.load('current', {packages: ['corechart', 'line']});
                    google.charts.setOnLoadCallback(drawBasic);

                    function drawBasic() {

                        var data = new google.visualization.DataTable();
                        data.addColumn('string', 'Weekday');
                        data.addColumn('number', 'Number of Posts');

                        data.addRows([
                                ['Sunday', 80],
                                ['Monday', 2],
                                ['Tuesday', 30],
                                ['Wednesday', 4],
                                ['Thursday', 15],
                                ['Friday', 60],
                                ['Saturday', 7]
                        ]);

                        var options = {
                            title: 'Amount of Tweets on Topic During Week',
                            width: '400',
                            height: '400',
                            hAxis: {
                                title: 'Day of Week'
                            },
                            
                            vAxis: {
                                title: 'Amount of Tweets'
                            }
                        };

                        var chart = new google.visualization.LineChart(document.getElementById('linechart_div'));

                        chart.draw(data, options);
                        }
                </script>
            </div>
          
      </div>

    </div>
      
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/factories/listingFactory.js"></script>
    <script src="js/controllers/listingController.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
</body>
</html>