<html>

  <head>
    <title>Algebra Nation | Topic Metrics</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/TopicsController.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>

  <body ng-app="directoryApp">

    <div class="container-fluid" ng-controller="TopicsController">

            <script>
                    window.onload = function ($scope) {
                        //console.log('Reloaded');
                        $scope.statuses = [];
                        var list = JSON.parse(sessionStorage.getItem('topicData')).data.statuses;
                        //console.log(list);
                    }
            </script>

        <!--NAVBAR-->
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;"">
            <span class="sr-only">Toggle Navigation</span>
            <!--NAVBAR BRAND-->
            <a class="navbar-brand" href="/index.html">
                    <img src="/images/twitter_icon.png" width="60" height="60" class="d-inline-block align-top" alt="">
                    <b>Twitter Data</b>
            </a>
            <!--NAVBAR TOGGLE BUTTON-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-header">
                <h1>Topic Metrics</h1>
            </div>

            <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search Topic..." aria-label="Search" ng-model="query">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" ng-click="searchByKeyword()">Search</button>
                </form>

            </nav>
        </div>


        <!--BREADCRUMBS-->
        <div class ="row">
                <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="/index.html">Dashboard</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Topic Metrics</li>
                        </ol>
                </nav>
        </div>

        <!--QUERY-->


        <!--
        <div>
            <h1 style="display:inline" id="searchQuery"></h1> <p style="display:inline"></p><i> in {{location.city}} , {{location.state}} </i> </p>
        </div>
        -->

      <!--SITE BODY-->
      <div class="row bodyContent">

          <div class="col anyClass">

            <script>
                function sendUserData(userNum) {
                    sessionStorage.setItem('userNum', userNum);
                    window.location = "/usermetrics.html";
                }
            </script>
              <!--POPULAR USERS-->
                <h2 class="headingTitle">Popular Users</h2>
                <div ng-controller="TopicsController">
                        <table class="table table-striped table-hover">
                                <tr>
                                            <div class="twPc-div">
                                                <a class="twPc-bg twPc-block"></a>

                                                <div>

                                                <a title="{{statuses[0].user.name}}" onclick="sendUserData(0)" class="twPc-avatarLink">
                                                    <img alt="{{statuses[0].user.name}}" src="{{statuses[0].user.profile_image_url}}" class="twPc-avatarImg">
                                                </a>

                                                <div class="twPc-divUser">
                                                    <div class="twPc-divName">
                                                    <a onclick="sendUserData(0)">{{statuses[0].user.name}}</a>
                                                    </div>
                                                    <span>
                                                    <a onclick="sendUserData(0)">@<span>{{statuses[0].user.screen_name}}</span></a>
                                                    </span>
                                                </div>

                                                <div class="twPc-divStats">
                                                    <ul class="twPc-Arrange">
                                                    <li class="twPc-ArrangeSizeFit">
                                                        <span class="twPc-StatLabel twPc-block">Tweets</span>
                                                        <span class="twPc-StatValue">{{statuses[0].user.statuses_count}}</span>

                                                    </li>
                                                    <li class="twPc-ArrangeSizeFit">
                                                        <span class="twPc-StatLabel twPc-block">Following</span>
                                                        <span class="twPc-StatValue">{{statuses[0].user.friends_count}}</span>

                                                    </li>
                                                    <li class="twPc-ArrangeSizeFit">
                                                        <span class="twPc-StatLabel twPc-block">Followers</span>
                                                        <span class="twPc-StatValue">{{statuses[0].user.followers_count}}</span>

                                                    </li>
                                                    </ul>
                                                </div>
                                                </div>
                                            </div>
                                            <div class="twPc-div">
                                                    <a class="twPc-bg twPc-block"></a>

                                                    <div>

                                                    <a title="{{statuses[1].user.name}}" onclick="sendUserData(1)" s.class="twPc-avatarLink">
                                                        <img alt="{{statuses[1].user.name}}" src="{{statuses[1].user.profile_image_url}}" class="twPc-avatarImg">
                                                    </a>

                                                    <div class="twPc-divUser">
                                                        <div class="twPc-divName">
                                                        <a onclick="sendUserData(1)">{{statuses[1].user.name}}</a>
                                                        </div>
                                                        <span>
                                                        <a onclick="sendUserData(1)">@<span>{{statuses[1].user.screen_name}}</span></a>
                                                        </span>
                                                    </div>

                                                    <div class="twPc-divStats">
                                                        <ul class="twPc-Arrange">
                                                        <li class="twPc-ArrangeSizeFit">
                                                            <span class="twPc-StatLabel twPc-block">Tweets</span>
                                                            <span class="twPc-StatValue">{{statuses[1].user.statuses_count}}</span>

                                                        </li>
                                                        <li class="twPc-ArrangeSizeFit">
                                                            <span class="twPc-StatLabel twPc-block">Following</span>
                                                            <span class="twPc-StatValue">{{statuses[1].user.friends_count}}</span>

                                                        </li>
                                                        <li class="twPc-ArrangeSizeFit">
                                                            <span class="twPc-StatLabel twPc-block">Followers</span>
                                                            <span class="twPc-StatValue">{{statuses[1].user.followers_count}}</span>

                                                        </li>
                                                        </ul>
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="twPc-div">
                                                        <a class="twPc-bg twPc-block"></a>

                                                        <div>

                                                        <a title="{{statuses[2].user.name}}" onclick="sendUserData(2)" class="twPc-avatarLink">
                                                            <img alt="{{statuses[2].user.name}}" src="{{statuses[2].user.profile_image_url}}" class="twPc-avatarImg">
                                                        </a>

                                                        <div class="twPc-divUser">
                                                            <div class="twPc-divName">
                                                            <a onclick="sendUserData(2)">{{statuses[2].user.name}}</a>
                                                            </div>
                                                            <span>
                                                            <a onclick="sendUserData(2)">@<span>{{statuses[2].user.screen_name}}</span></a>
                                                            </span>
                                                        </div>

                                                        <div class="twPc-divStats">
                                                            <ul class="twPc-Arrange">
                                                            <li class="twPc-ArrangeSizeFit">
                                                                <span class="twPc-StatLabel twPc-block">Tweets</span>
                                                                <span class="twPc-StatValue">{{statuses[2].user.statuses_count}}</span>

                                                            </li>
                                                            <li class="twPc-ArrangeSizeFit">
                                                                <span class="twPc-StatLabel twPc-block">Following</span>
                                                                <span class="twPc-StatValue">{{statuses[2].user.friends_count}}</span>

                                                            </li>
                                                            <li class="twPc-ArrangeSizeFit">
                                                                <span class="twPc-StatLabel twPc-block">Followers</span>
                                                                <span class="twPc-StatValue">{{statuses[2].user.followers_count}}</span>

                                                            </li>
                                                            </ul>
                                                        </div>
                                                        </div>
                                                    </div>
                                                    <div class="twPc-div">
                                                            <a class="twPc-bg twPc-block"></a>

                                                            <div>

                                                            <a title="{{statuses[3].user.name}}" onclick="sendUserData(3)" class="twPc-avatarLink">
                                                                <img alt="{{statuses[3].user.name}}" src="{{statuses[3].user.profile_image_url}}" class="twPc-avatarImg">
                                                            </a>

                                                            <div class="twPc-divUser">
                                                                <div class="twPc-divName">
                                                                <a onclick="sendUserData(3)">{{statuses[3].user.name}}</a>
                                                                </div>
                                                                <span>
                                                                <a onclick="sendUserData(3)">@<span>{{statuses[3].user.screen_name}}</span></a>
                                                                </span>
                                                            </div>

                                                            <div class="twPc-divStats">
                                                                <ul class="twPc-Arrange">
                                                                <li class="twPc-ArrangeSizeFit">
                                                                    <span class="twPc-StatLabel twPc-block">Tweets</span>
                                                                    <span class="twPc-StatValue">{{statuses[3].user.statuses_count}}</span>

                                                                </li>
                                                                <li class="twPc-ArrangeSizeFit">
                                                                    <span class="twPc-StatLabel twPc-block">Following</span>
                                                                    <span class="twPc-StatValue">{{statuses[3].user.friends_count}}</span>

                                                                </li>
                                                                <li class="twPc-ArrangeSizeFit">
                                                                    <span class="twPc-StatLabel twPc-block">Followers</span>
                                                                    <span class="twPc-StatValue">{{statuses[3].user.followers_count}}</span>

                                                                </li>
                                                                </ul>
                                                            </div>
                                                            </div>
                                                        </div>
                                                        <div class="twPc-div">
                                                                <a class="twPc-bg twPc-block"></a>

                                                                <div>

                                                                <a title="{{statuses[4].user.name}}" onclick="sendUserData(4)" class="twPc-avatarLink">
                                                                    <img alt="{{statuses[4].user.name}}" src="{{statuses[4].user.profile_image_url}}" class="twPc-avatarImg">
                                                                </a>

                                                                <div class="twPc-divUser">
                                                                    <div class="twPc-divName">
                                                                    <a onclick="sendUserData(4)">{{statuses[4].user.name}}</a>
                                                                    </div>
                                                                    <span>
                                                                    <a onclick="sendUserData(4)">@<span>{{statuses[4].user.screen_name}}</span></a>
                                                                    </span>
                                                                </div>

                                                                <div class="twPc-divStats">
                                                                    <ul class="twPc-Arrange">
                                                                    <li class="twPc-ArrangeSizeFit">
                                                                        <span class="twPc-StatLabel twPc-block">Tweets</span>
                                                                        <span class="twPc-StatValue">{{statuses[4].user.statuses_count}}</span>

                                                                    </li>
                                                                    <li class="twPc-ArrangeSizeFit">
                                                                        <span class="twPc-StatLabel twPc-block">Following</span>
                                                                        <span class="twPc-StatValue">{{statuses[4].user.friends_count}}</span>

                                                                    </li>
                                                                    <li class="twPc-ArrangeSizeFit">
                                                                        <span class="twPc-StatLabel twPc-block">Followers</span>
                                                                        <span class="twPc-StatValue">{{statuses[4].user.followers_count}}</span>

                                                                    </li>
                                                                    </ul>
                                                                </div>
                                                                </div>
                                                            </div>
                                </tr>
                        </table>
                </div>
          </div>


          <!--POPULAR TWEETS-->
          <div class="col anyClass">

            <h2 class="headingTitle">Popular Tweets</h2>

            <div class = "topic-list" ng-controller="TopicsController">

                    <table class="table table-striped table-hover">
                            <tr class="border border-primary">
                                    <!-- Add: {{status.user.profile_image_url}} for user profile image
                                        Clicking profile image should redirect to User Metrics page and
                                        send the user JSON data from the status JSON response-->
                                    <a href="/usermetrics.html" >
                                        <img src="{{statuses[0].user.profile_image_url}}" width = 15% height = 15% class="mr-3" alt="" ng-click="sendUserData(status.user)">
                                    </a>

                                    <div class="media-body">
                                      <h5 class="mt-0 mb-1" >{{statuses[0].user.name}}</h5>
                                      <p>{{statuses[0].text}}</p>
                                      <div class="engagementbuttons">
                                      <button type="button" class="btn btn-primary">
                                              Likes <span class="badge badge-light">{{statuses[0].favorite_count}}</span>
                                      </button>
                                      <button type="button" class="btn btn-primary">
                                              Retweets <span class="badge badge-light">{{statuses[0].retweet_count}}</span>
                                      </button></div>
                                    </div>
                                    <a href="/usermetrics.html" >
                                        <img src="{{statuses[1].user.profile_image_url}}" width = 15% height = 15% class="mr-3" alt="" ng-click="sendUserData(status.user)">
                                    </a>

                                    <div class="media-body">
                                      <h5 class="mt-0 mb-1" >{{statuses[1].user.name}}</h5>
                                      <p>{{statuses[1].text}}</p>
                                      <div class="engagementbuttons">
                                      <button type="button" class="btn btn-primary">
                                              Likes <span class="badge badge-light">{{statuses[1].favorite_count}}</span>
                                      </button>
                                      <button type="button" class="btn btn-primary">
                                              Retweets <span class="badge badge-light">{{statuses[1].retweet_count}}</span>
                                      </button></div>
                                    </div>
                                    <a href="/usermetrics.html" >
                                        <img src="{{statuses[2].user.profile_image_url}}" width = 15% height = 15% class="mr-3" alt="" ng-click="sendUserData(status.user)">
                                    </a>

                                    <div class="media-body">
                                      <h5 class="mt-0 mb-1" >{{statuses[2].user.name}}</h5>
                                      <p>{{statuses[2].text}}</p>
                                      <div class="engagementbuttons">
                                      <button type="button" class="btn btn-primary">
                                              Likes <span class="badge badge-light">{{statuses[2].favorite_count}}</span>
                                      </button>
                                      <button type="button" class="btn btn-primary">
                                              Retweets <span class="badge badge-light">{{statuses[2].retweet_count}}</span>
                                      </button></div>
                                    </div>
                                    <a href="/usermetrics.html" >
                                        <img src="{{statuses[3].user.profile_image_url}}" width = 15% height = 15% class="mr-3" alt="" ng-click="sendUserData(status.user)">
                                    </a>

                                    <div class="media-body">
                                      <h5 class="mt-0 mb-1" >{{statuses[3].user.name}}</h5>
                                      <p>{{statuses[3].text}}</p>
                                      <div class="engagementbuttons">
                                      <button type="button" class="btn btn-primary">
                                              Likes <span class="badge badge-light">{{statuses[3].favorite_count}}</span>
                                      </button>
                                      <button type="button" class="btn btn-primary">
                                              Retweets <span class="badge badge-light">{{statuses[3].retweet_count}}</span>
                                      </button></div>
                                    </div>
                                    <a href="/usermetrics.html" >
                                        <img src="{{statuses[4].user.profile_image_url}}" width = 15% height = 15% class="mr-3" alt="" ng-click="sendUserData(status.user)">
                                    </a>

                                    <div class="media-body">
                                      <h5 class="mt-0 mb-1" >{{statuses[4].user.name}}</h5>
                                      <p>{{statuses[4].text}}</p>
                                      <div class="engagementbuttons">
                                      <button type="button" class="btn btn-primary">
                                              Likes <span class="badge badge-light">{{statuses[4].favorite_count}}</span>
                                      </button>
                                      <button type="button" class="btn btn-primary">
                                              Retweets <span class="badge badge-light">{{statuses[4].retweet_count}}</span>
                                      </button></div>
                                    </div>
                            </tr>
                    </table>

            </div>

          </div>



          <div class="w-100"></div>



            <!--POPULAR USERS BAR GRAPH
                INFO: displayes the users with the most followers related to this topic
                User Name: {{user.name}}
                Followers: {{user.followers_count}}
            -->
            <div class="col">
                    <h2 class="headingTitle">Top Users</h2>
                    <div id="barchart" align='center'>
                    </div>
                    <script>
                        google.charts.load('current', {packages: ['corechart', 'bar']});
                        google.charts.setOnLoadCallback(drawBasic1);

                        function drawBasic1() {

                            var data = new google.visualization.DataTable();
                            data.addColumn('string', 'User Name');
                            data.addColumn('number', 'Followers');


                            var name0 = sessionStorage.getItem('name0');

                            if (name0 === 'null')
                                name0 = 'Obama';

                            var fc0; //follow count 0

                            if (sessionStorage.getItem('fc0') === 'null')
                                fc0 = 0;
                            else
                                fc0 = parseInt(sessionStorage.getItem('fc0'));

                            var name1 = sessionStorage.getItem('name1');

                            if (name1 === 'null')
                                name1 = 'Rhonda';

                            var fc1; //follow count 1

                            if (sessionStorage.getItem('fc1') === 'null')
                                fc1 = 1;
                            else
                                fc1 = parseInt(sessionStorage.getItem('fc1'));

                            var name2 = sessionStorage.getItem('name2');

                            if (name2 === 'null')
                                name2 = 'Louis';

                            var fc2; //follow count 2

                            if (sessionStorage.getItem('fc2') === 'null')
                                fc2 = 2;
                            else
                                fc2 = parseInt(sessionStorage.getItem('fc2'));

                            var name3 = sessionStorage.getItem('name3');

                            if (name3 === 'null')
                                name3 = 'Bill';

                            var fc3; //follow count 3

                            if (sessionStorage.getItem('fc3') === 'null')
                                fc3 = 3;
                            else
                                fc3 = parseInt(sessionStorage.getItem('fc3'));

                            var name4 = sessionStorage.getItem('name4');

                            if (name4 === 'null')
                                name4 = 'Chris';

                            var fc4; //follow count 4

                            if (sessionStorage.getItem('fc4') === 'null')
                                fc4 = 4;
                            else
                                fc4 = parseInt(sessionStorage.getItem('fc4'));

                            data.addRows([
                                [name0, fc0],
                                [name1, fc1],
                                [name2, fc2],
                                [name3, fc3],
                                [name4, fc4]
                            ]);

                            var options = {
                                title: 'Users with Largest Audience',
                                width: '550',
                                height: '500',
                                hAxis: {
                                    title: 'User',
                                    format: 'h:mm a',
                                    viewWindow: {
                                        min: [7, 30, 0],
                                        max: [17, 30, 0]
                                    }
                                } ,

                                vAxis: {
                                    title: 'Followers'
                                }
                            };

                            var chart = new google.visualization.ColumnChart(
                                document.getElementById('barchart'));

                            chart.draw(data, options);
                            }
                    </script>
            </div>


            <!--TWITTER FREQUENCY LINE GRAPH
                Displays number of posts for the past 5 days
                Weekday: {{statuses.created_at}}
                    -> returns: Sun Feb 25... but we just need 'Sun'or 'Feb 25' for the date
                Number of Posts: length of the array for the tweets for a specified day
            -->
            <div class="col">
                <h2 class="headingTitle">Tweet Frequency</h2>

                <div id="linechart_div" align='center'>
                </div>
                <script>
                    google.charts.load('current', {packages: ['corechart', 'line']});
                    google.charts.setOnLoadCallback(drawBasic2);

                    function drawBasic2() {

                        var data = new google.visualization.DataTable();
                        data.addColumn('string', 'Weekday');
                        data.addColumn('number', 'Number of Posts');


                        var Sunday, Monday, Tuesday, Wednesday, Thursday, Friday, Saturday;

                        if (sessionStorage.getItem('Sun') === 'null')
                            Sunday = 0;
                        else
                            Sunday = parseInt(sessionStorage.getItem('Sun'));

                        if (sessionStorage.getItem('Mon') === 'null')
                            Monday = 0;
                        else
                            Monday = parseInt(sessionStorage.getItem('Mon'));

                        if (sessionStorage.getItem('Tue') === 'null')
                            Tuesday = 0;
                        else
                            Tuesday = parseInt(sessionStorage.getItem('Tue'));

                        if (sessionStorage.getItem('Wed') === 'null')
                            Wednesday = 0;
                        else
                            Wednesday = parseInt(sessionStorage.getItem('Wed'));

                        if (sessionStorage.getItem('Thu') === 'null')
                            Thursday = 0;
                        else
                            Thursday = parseInt(sessionStorage.getItem('Thu'));

                        if (sessionStorage.getItem('Fri') === 'null')
                            Friday = 0;
                        else
                            Friday = parseInt(sessionStorage.getItem('Fri'));

                        if (sessionStorage.getItem('Sat') === 'null')
                            Saturday = 0;
                        else
                            Saturday = parseInt(sessionStorage.getItem('Sat'));

                        data.addRows([
                                ['Sunday', Sunday],
                                ['Monday', Monday],
                                ['Tuesday', Tuesday],
                                ['Wednesday', Wednesday],
                                ['Thursday', Thursday],
                                ['Friday', Friday],
                                ['Saturday', Saturday]
                        ]);

                        var options = {
                            title: 'Amount of Tweets on Topic During Week',
                            width: '550',
                            height: '500',
                            hAxis: {
                                title: 'Day of Week'
                            },

                            vAxis: {
                                title: 'Amount of Tweets'
                            }
                        };

                        var chart = new google.visualization.LineChart(document.getElementById('linechart_div'));

                        chart.draw(data, options);
                        }
                </script>
            </div>
      </div>

    </div>

</body>
</html>
